// Forms styles

.form-group {
  min-height: 100px;
  &__error-message {
    opacity: 0;
    color: $errorColor;
    transition: opacity .4s ease;
    font-size: .8em;
  }
  &.has-error {
    .form-group__error-message {
      opacity: 1;
    }
    input,
    textarea {
      box-shadow: 0 0 1px 1px $errorColor;
    }
  }
  small {
    font-size: .8em;
    color: $secondaryTextColor;
  }

  .text-count {
    &-wrapper {
      background-color: white;
      padding: 2px 5px;
      float: right;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-message {
      color: $secondaryTextColor;
      font-size: .8em;
    }
  }
}

.submit-area {
  margin: 40px auto;
}

label {
  color: $secondaryTextColor;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 6px;
  span {
    color: $errorColor;
  }
}

input {
  height: 45px;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  color: $secondaryTextColor;
  font-weight: 500;
  transition: box-shadow .3s ease;
  &:hover, &:focus {
    box-shadow: 0 0 1px 1px $linksColor;
  }
}

textarea {
  height: 100px;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  color: $secondaryTextColor;
  font-weight: 500;
  transition: box-shadow .3s ease;
  resize: none;
  &:hover, &:focus {
    box-shadow: 0 0 1px 1px $linksColor;
  }
}

button {
  border: none;
  border-radius: 2px;
  color: $textColor;
  background-color: $linksColor;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1em;
  outline: none;
  transition: background-color .3s ease;
  &:hover {
    background-color: darken($linksColor, 10);
  }
  cursor: pointer;
}