// General

@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  background-color: $bgColor;
  color: $textColor;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: $linksColor;
}