// Home Page

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 2.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  a {
    color: $textColor;
  }
}

.search-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 50%;
    @include mq('tablet') {
      width: 90%;
    }
  }
}

$className: 'item';

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0;
  .#{$className} {
    position: relative;
    width: 33.33%;
    padding: .5em;
    box-sizing: border-box;
    min-width: 350px;
    @include mq('tablet') {
      width: 100%;
      min-width: auto;
      .#{$className}__edit,
      .#{$className}__delete {
        opacity: 1;
      }
    }
    &:hover {
      .#{$className}__img img {
        transition: opacity .4s ease;
        opacity: .6;
      }
      .#{$className}__edit,
      .#{$className}__delete,
      .#{$className}__move {
        transition: all .4s ease;
        opacity: 1;
      }
      .#{$className}__eye {
        transition: opacity .4s ease;
        opacity: .4;
      }
    }
    &__shadow {
      box-shadow: 0 0 12px black;
    }
    &__img {
      height: 150px;
      position: relative;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }
    &__eye {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4em;
      color: white;
      z-index: 1;
    }
    &__edit,
    &__delete {
      opacity: 0;
      position: absolute;
      color: $textColor;
      z-index: 2;
      &:hover {
        color: darken($linksColor, 10);
      }
    }
    &__move {
      opacity: 0;
      position: absolute;
      color: $textColor;
      z-index: 2;
      top: 6px;
      left: 5px;
      cursor: pointer;
      i {
        font-size: 1.4em;
      }
    }
    &__edit {
      top: 13px;
      right: 35px;
      font-size: 1em;
      outline: none;
    }
    &__delete {
      top: 10px;
      right: 10px;
      font-size: 1.4em;
      outline: none;
    }
    &__body {
      padding: 1em;
      color: $secondaryTextColor;
      background-color: whitesmoke;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 60px;
      h4 {
        font-size: .9em;
        text-transform: uppercase;
        margin: 0;
        color: $secondaryTextColor;
        line-height: 1.5em;
      }
      p {
        display: -webkit-box;
        height: 60px;
        margin: 0;
        color: $tertiaryTextColor;
        line-height: 1em;
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        word-wrap: break-word;
        font-family: sans-serif;
        font-weight: 100;
      }
    }
  }
  .no-items {
    margin: 100px auto;
  }
}

.hidden {
  display: none;
}

.add-new-item {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: $linksColor;
  border-radius: 50%;
  padding: 1.8em;
  z-index: 9;
  @include mq('tablet') {
    bottom: 20px;
    right: 20px;
    padding: 1.6em;
  }
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: $textColor;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq('tablet') {
      font-size: 1.5em;
    }
  }
  transition: background-color .3s ease;
  &:hover {
    background-color: darken($linksColor, 10);
  }
  &.animate {
    animation: spin .5s cubic-bezier(.26,-0.6,.44,1.17);
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-180deg);
    }
  }
}

.total-items {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 9;
  background-color: $linksColor;
  padding: .4em .6em;
  border-radius: 2px;
  @include mq('tablet') {
    bottom: 30px;
    left: 20px;
    font-size: .8em;
    padding: .3em .5em;
  }
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}