// Variables

$breakpoints: (
        "phone":        400px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);

$bgColor: #22354c;
$textColor: white;
$secondaryTextColor: #333;
$tertiaryTextColor: #666;
$linksColor: #0db7ed;

// Actions
$errorColor: #c7254e;
