// New Item Modal

.add-item-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  animation: slideIn .5s cubic-bezier(.26,-0.6,.44,1.17);
  .add-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    height: 82%;
    width: 80%;
    max-width: 600px;
    border-radius: 2px;
    overflow: auto;
    padding: 1em;
    @include mq('tablet') {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
    &__close {
      float: right;
      i {
        font-size: 2em;
        color: $secondaryTextColor;
      }
    }
    &__title {
      clear: both;
      text-align: center;
      color: $secondaryTextColor
    }
    &__form {
      input[type="file"] {
        display: none;
      }
      @include mq('tablet') {
        padding: 1em;
      }
    }
    &__image {
      position: relative;
      display: block;
      margin: 0 auto 40px auto;
      height: 160px;
      width: 160px;
      text-align: center;
      a {
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          object-fit: cover;
        }
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          opacity: 0;
          font-size: 2em;
          color: #333;
          transition: opacity .2s linear;
          z-index: 1;
        }
        .border {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          border: 3px solid #333;
          opacity: 0;
          transition: opacity .2s linear;
          background-color: rgba(255, 255, 255, .6);
        }
        &:hover {
          i {
            opacity: .6;
          }
          .border {
            opacity: .6;
          }
        }
      }
    }
    &__button {
      margin: auto;
      display: block;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}