// Show Item Modal

.show-item-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  animation: slideIn .5s cubic-bezier(.26,-0.6,.44,1.17);
  .show-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    height: 82%;
    width: 80%;
    max-width: 600px;
    border-radius: 2px;
    overflow: auto;
    padding: 1em;
    @include mq('tablet') {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
    &__close {
      float: right;
      i {
        font-size: 2em;
        color: $secondaryTextColor;
      }
    }
    &__image {
      position: relative;
      display: block;
      margin: 40px auto;
      height: 320px;
      width: 320px;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: none;
      }
    }
    &__form {
      width: 100%;
      @include mq('tablet') {
        padding: 1em;
      }
    }
    &__name {
      text-align: center;
      color: $secondaryTextColor;
    }
    &__description {
      color: $secondaryTextColor;
      word-wrap: break-word;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}